dialog form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.dialog-buttons button {
  width: auto;
}