main {
  padding: 20px;
}
#saved-recipes-container {
  display: flex;
  flex-wrap: wrap;
  width: 880px;
  margin: 0 auto;
  gap: 20px;
  box-sizing: border-box;
  min-width: 0;
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.dialog-buttons button {
  width: auto;
}

@media (max-width: 880px) {
  #saved-recipes-container {
    width: 100%;
    justify-content: center;
  }
  #saved-recipes-title {
    text-align: center;
    width: 100%;
  }
}
